<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VotaYa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/estilos.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d8e841cc21.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <!-- Tempus Dominus JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"
            crossorigin="anonymous"></script>

    <!-- Tempus Dominus Styles -->
    <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css"
          rel="stylesheet" crossorigin="anonymous">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



</head>
<body style="background-color:lightslategray; ">
    @if (ViewData["MostrarLayout"] != null && (bool)ViewData["MostrarLayout"])
    {
        <header id="header">
        </header>
    }
    @if (ViewData["MostrarLayout"] != null && (bool)ViewData["MostrarLayout"])
    {
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div id="menuLateral" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                    <div class="w-100 d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="/" class="w-100 d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline">Menu</span>
                        </a>
                        <ul class="w-100 nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href=".\Principal" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i> <span class="ms-2 d-none d-sm-inline">Inicio</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#ModalCrearEvento" data-toggle="modal" data-target="#ModalCrearEvento" class="nav-link px-0 align-middle">
                                    <i class="fs-4 fa-solid fa-calendar-plus"></i> <span class="ms-2 d-none d-sm-inline">Creá tu evento</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#ModalAddEvento" data-toggle="modal" data-target="#ModalAddEvento" class="nav-link px-0 align-middle">
                                    <i class="fs-4 fa-solid fa-plus"></i> <span class=ms-2 d-none d-sm-inline">Ingresá a un evento</span>
                                </a>
                            </li>
                            @*<li class="nav-item">
                                    <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                        <i class="fs-4 bi-bootstrap"></i> <span class="ml-2 ms-1 d-none d-sm-inline">Bootstrap</span>
                                    </a>
                                    <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-grid"></i> <span class="ml-2 ms-1 d-none d-sm-inline">Products</span>
                                    </a>
                                    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                        <li class="w-100">
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link px-0 align-middle">
                                        <i class="fs-4 bi-people"></i> <span class="ml-2 ms-1 d-none d-sm-inline">Customers</span>
                                    </a>
                                </li>*@
                        </ul>
                        <hr>
                        <div class="w-100 dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-4 mr-2 bi bi-person-circle"></i>
                                <span class="d-none d-sm-inline mx-1">@ViewData["Usuario"].ToString()</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col py-3">
                    <div class="container">
                        <main role="main" class="pb-3">
                            <div class="position-fixed bottom-0 w-100 d-flex justify-content-end end-0 p-3" style="z-index: 1100">
                                <div class="toast" style="display:none" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
                                    <div class="toast-header">
                                        <strong class="me-auto">Aviso</strong>
                                        <button type="button" id="cerrarToast" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body" style="background-color: #ffffff;">
                                        <span id="msgToast"></span>
                                    </div>
                                </div>
                            </div>
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ModalCrearEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Nuevo Evento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form name="Registro" method="post">
                            <div class="form-group" style="width:100%">
                                <div class="d-flex flex-row justify-content-center align-items-center w-100 mb-3">
                                    <div class="fake_placeholder formRegistro m-0 ml-3">
                                        <label class="label w-100 m-0" style="border-radius:10px;">
                                            <span>Nombre</span>
                                            <input id="nombre" class="inputs w-100" type="text" name="Nombre" autocomplete="off" />
                                        </label>
                                    </div>
                                </div>
                                <div class="d-flex flex-row justify-content-center align-items-center w-100 mb-3">
                                    <div class='log-event'
                                         id='inlinePicker'>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button id="GuardarUsuario" type="button" onclick="RegistrarEvento()" class="btn btn-outline-dark">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">
                <div class="position-fixed bottom-0 w-100 d-flex justify-content-end end-0 p-3" style="z-index: 1100">
                    <div class="toast" style="display:none" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
                        <div class="toast-header">
                            <strong class="me-auto">Aviso</strong>
                            <button type="button" id="cerrarToast" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body" style="background-color: #ffffff;">
                            <span id="msgToast"></span>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </main>
        </div>
    }
    @if (ViewData["MostrarLayout"] != null && (bool)ViewData["MostrarLayout"])
    {
        @*<footer id="footer" class="border-top footer text-muted">
                <div class="container">
                    &copy; 2022 - VotaYa - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </footer>*@
    }
    <script>
        var dtpicker = document.getElementById('inlinePicker');
        if (dtpicker != null) {
            new tempusDominus.TempusDominus(document.getElementById('inlinePicker'), {
                display: {
                    inline: true
                }
            });
        }


        function showToast(mensaje) {
            //var modales = document.querySelectorAll("modal");
            //for (var i; i > modales.length; i++) {
            //    modales[i].style.display == "block"
            //}
            var toast = document.getElementById('toast');
            document.getElementById('msgToast').innerHTML = mensaje;
            toast.style.display = "block";
            toast.style.opacity = "1";
        };
        document.getElementById("cerrarToast").addEventListener("click", function () {
            document.getElementById('toast').style.display = "none";
            document.getElementById('toast').style.opacity = "0";
        });

        const inputs = document.querySelectorAll('.fake_placeholder input');

        inputs.forEach(input => {
            //cuando entramos en el input
            input.onfocus = () => {
                //al elemento anterior (el span) le agregamos la clase que la reubica en top
                input.previousElementSibling.classList.add('reubicar');
            }

            //cuando salimos del input
            input.onblur = () => {
                //si no hay texto, le quitamos la clase reubicar,
                //para que se superponga con el input
                if (input.value.trim().length == 0)
                    input.previousElementSibling.classList.remove('reubicar');
            }
        });

        function RegistrarEvento() {
            var inlinePicker = JSON.stringify(document.getElementById('inlinePicker').value);
            var _nombre = JSON.stringify(document.getElementById('nombre').value);

            $.ajax({
                type: 'POST',
                url: '?handler=RegistroEvento',
                async: false,
                method: 'GET',
                headers: { 'Content-Type': 'application/json; charset=utf-8', 'Accept': '*/*' },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("RequestVerificationToken",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: 'html',
                data: ({
                    nombre: _nombre,
                    FechaInicio: inlinePicker
                }),
                cache: false,
                traditional: true,
                contentType: 'application/json',
                success: function (response) {
                    var obj = JSON.parse(response);
                    if (obj.Resultado == true) {
                        showToast(obj.Respuesta);
                    }
                    else {
                        showToast(obj.Respuesta);
                    }
                }
            })
        };
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
