@page
@model PrincipalModel
@{
    ViewData["Title"] = "Principal";
}


<div class="text-center">
    <div class="w-100 d-flex justify-content-center align-content-center">
        @if (ViewData["Usuario"] != null)
        {
            <h1 id="bienvenida">Mis Eventos</h1>
        }
        else
        {
            <h1 id="bienvenida">Bienvenido !!</h1>
        }
    </div>
    <div id="grilla" class="flex-wrap" style="display: flex; justify-content: center; align-items: center; align-content: space-evenly">
        @foreach (var evento in Model.oEventos)
        {
            <div id="@evento.Nombre.Replace(" ", "-")" class="card p-3 m-4" onclick="irAEvento(this)" data-CodEvento="@evento.COD_EV" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@evento.Nombre</h5>
                    <p class="card-text">@evento.Descripcion</p>
                </div>
                <ul class="list-group list-group-flush bg-transparent w-100">
                    <li class="list-group-item bg-transparent">@evento.FechaInicio.ToShortDateString()</li>
                    <li class="list-group-item bg-transparent">@evento.FechaInicio.ToShortTimeString()</li>
                    <li class="list-group-item bg-transparent">@evento.Estado</li>
                </ul>
            </div>
        }
    </div>
</div>
<script type="text/javascript" src="~/js/Principal.js"></script>